extends form, logger

snippet rc
<% ${0} %>
endsnippet
snippet rce
<%= ${1} %>
endsnippet
snippet %
<% ${0} %>
endsnippet
snippet =
<%= ${1} %>
endsnippet
snippet end
<% end %>
endsnippet
snippet ead
<% ${1}.each do |${2}| %>
  ${0}
<% end %>
endsnippet
snippet for
<% for ${2:item} in ${1} %>
  ${0}
<% end %>
endsnippet
snippet render
<%= render '${0:item}' %>
endsnippet
