"*":
  "atom-material-ui":
    colors:
      abaseColor: "#175bd2"
      paintCursor: true
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      panelShadows: true
      useAnimations: false
  "bracket-matcher":
    highlightMatchingLineNumber: true
  "city-lights-ui":
    fontSize: 13
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "language-gfm"
    ]
    telemetryConsent: "no"
    themes: [
      "city-lights-ui"
      "my-chester-syntax"
    ]
  "dash-ui":
    iconsEnabled: false
    themeColor: "Indigo"
  editor:
    fontFamily: "Fira code"
    fontSize: 18
  "exception-reporting":
    userId: "c0e70ccd-6263-4e76-825a-3c7955807bd2"
  "hypest-dark":
    vibrancy: true
  "linter-ui-default": {}
  "markdown-preview":
    useGitHubStyle: true
  "native-ui":
    tabs: {}
    ui: {}
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "one-dark-ui": {}
  "pie-ui":
    fontSize: 14
  "relative-numbers": {}
  "seti-ui":
    compactView: true
    fileIcons: false
    themeColor: "Steel"
  tabs:
    addNewTabsAtEnd: true
    usePreviewTabs: false
  "tree-view":
    alwaysOpenExisting: true
  "vim-mode-plus":
    startInInsertMode: true
  welcome:
    showOnStartup: false
