"*":
  "exception-reporting":
    userId: "3ef94604-3f0b-2bfd-260e-3a1e375c0185"
  welcome:
    showOnStartup: false
  core:
    audioBeep: false
    excludeVcsIgnoredPaths: false
  editor:
    invisibles: {}
    fontFamily: "menlo"
    showIndentGuide: true
  minimap:
    plugins:
      "git-diff": true
