"*":
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
  core:
    audioBeep: false
    disabledPackages: [
      "minimap"
      "minimap-git-diff"
      "background-tips"
    ]
    excludeVcsIgnoredPaths: false
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontFamily: "input mono narrow"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "3ef94604-3f0b-2bfd-260e-3a1e375c0185"
  "file-icons":
    forceShow: true
  minimap:
    plugins:
      "git-diff": true
  "one-dark-ui": {}
  welcome:
    showOnStartup: false
