'.platform-darwin':
  'cmd-0': 'tree-view:toggle'

'atom-text-editor:not([mini])':
  'ctrl-shift-K': 'editor:delete-line'

'.platform-darwin atom-text-editor':
  'ctrl-+': 'atom-ctags:go-to-declaration'

'.workspace':
  'ctrl-8': 'github:toggle-git-tab'

'atom-text-editor':
  'ctrl-shift-m': 'markdown-preview:toggle'
