andamios:
  title: "andamios"
  paths: [
    "/Users/ealbertos/src/andamios"
  ]
jrenvases_system:
  title: "jrenvases_system"
  paths: [
    "/Users/ealbertos/src/jrenvases_system"
  ]
upp:
  title: "upp"
  paths: [
    "/Users/ealbertos/src/upp"
  ]
