[
  {
    title: "andamios"
    paths: [
      "/Users/ealbertos/src/andamios"
    ]
  }
  {
    title: "jrenvases_system"
    paths: [
      "/Users/ealbertos/src/jrenvases_system"
    ]
  }
  {
    title: "upp"
    paths: [
      "/Users/ealbertos/src/upp"
    ]
  }
  {
    title: "cocos"
    paths: [
      "/Users/ealbertos/src/cocos"
    ]
  }
  {
    title: "candidatos"
    paths: [
      "/Users/ealbertos/src/candidatos"
    ]
  }
  {
    title: "adminpanel"
    paths: [
      "/Users/ealbertos/src/adminpanel"
    ]
  }
  {
    title: "tacoarquitecturacontextual"
    paths: [
      "/Users/ealbertos/src/tacoarquitecturacontextual"
    ]
  }
  {
    title: "concreplus"
    paths: [
      "/Users/ealbertos/src/concreplus"
    ]
  }
  {
    title: "adoro"
    paths: [
      "/Users/ealbertos/src/adoro"
    ]
  }
  {
    title: "adminpanel-test"
    paths: [
      "/Users/ealbertos/src/adminpanel-test"
    ]
  }
  {
    title: "kanankab"
    paths: [
      "/Users/ealbertos/src/kanankab"
    ]
  }
  {
    title: "atlantes"
    paths: [
      "/Users/ealbertos/src/atlantes"
    ]
  }
  {
    title: "procon"
    paths: [
      "/Users/ealbertos/src/procon"
    ]
  }
  {
    title: "robotina"
    paths: [
      "/Users/ealbertos/src/robotina"
    ]
  }
  {
    title: "CoDN Website"
    paths: [
      "/Users/ealbertos/src/our_website"
    ]
  }
  {
    title: "multilimpia"
    paths: [
      "/Users/ealbertos/src/multilimpia"
      "/Users/ealbertos/src/vivaresidencialsite"
    ]
  }
  {
    title: "shopify-app"
    paths: [
      "/Users/ealbertos/src/shopify-app"
    ]
  }
  {
    title: "vivaresidencialsite"
    paths: [
      "/Users/ealbertos/src/vivaresidencialsite"
    ]
  }
  {
    title: "repssa"
    paths: [
      "/Users/ealbertos/src/repssa"
    ]
  }
  {
    title: "rentadoraisla"
    paths: [
      "/Users/ealbertos/src/rentadoraisla"
    ]
  }
  {
    title: "jrenvases"
    paths: [
      "/Users/ealbertos/src/jrenvases"
    ]
  }
  {
    title: "Iluminair"
    paths: [
      "/Users/ealbertos/src/iluminair"
    ]
  }
  {
    title: "Isla"
    paths: [
      "/Users/ealbertos/src/isla"
    ]
  }
  {
    title: "Puntoa"
    paths: [
      "/Users/ealbertos/src/puntoa"
    ]
  }
  {
    title: "Hemisferioderecho"
    paths: [
      "/Users/ealbertos/src/hemisferioderecho"
    ]
  }
  {
    title: "Pcpdelsureste"
    paths: [
      "/Users/ealbertos/src/pcpdelsureste"
    ]
  }
  {
    title: "Espacios"
    paths: [
      "/Users/ealbertos/src/espacios"
    ]
  }
  {
    title: "Compas Paddle"
    paths: [
      "/Users/ealbertos/src/compas-paddle"
    ]
    devMode: true
  }
  {
    title: "Cecip"
    group: "php"
    paths: [
      "/Applications/MAMP/htdocs/CECIP"
    ]
  }
  {
    title: "Landing Trip Like Us"
    paths: [
      "/Users/ealbertos/src/trip-like-us-landing"
    ]
  }
  {
    title: "Ditoledo"
    paths: [
      "/Users/ealbertos/src/ditoledo"
    ]
  }
  {
    title: "Trip Like Us"
    paths: [
      "/Users/ealbertos/src/trip-like-us"
    ]
  }
  {
    title: "Observatorio Costero"
    paths: [
      "/Users/ealbertos/src/observatorio-costero"
    ]
  }
  {
    title: "Lua"
    paths: [
      "/Users/ealbertos/src/lua"
    ]
  }
  {
    title: "Mafra"
    paths: [
      "/Users/ealbertos/src/mafra"
    ]
  }
  {
    title: "Mi Otra Mitad"
    paths: [
      "/Users/ealbertos/src/mi-otra-mitad"
    ]
  }
  {
    title: "Humanimals"
    paths: [
      "/Users/ealbertos/src/humanimals"
    ]
  }
  {
    title: "Habla con Ella"
    paths: [
      "/Users/ealbertos/src/merida-escucha"
    ]
  }
  {
    title: "Ella Y Yo"
    paths: [
      "/Users/ealbertos/src/ella-y-yo"
    ]
  }
  {
    title: "Santa Rita"
    paths: [
      "/Users/ealbertos/src/santa-rita"
    ]
  }
  {
    title: "Harmonia"
    paths: [
      "/Users/ealbertos/src/harmonia"
    ]
  }
  {
    title: "My Chester Syntax"
    paths: [
      "/Users/ealbertos/github/my-chester-syntax"
    ]
  }
  {
    title: "Eaab Bowling"
    paths: [
      "/Users/ealbertos/src/eaab_bowling"
    ]
  }
  {
    title: "Hidrotanques"
    paths: [
      "/Users/ealbertos/src/hidrotanques"
    ]
  }
  {
    title: "Keken"
    paths: [
      "/Users/ealbertos/src/keken"
    ]
  }
  {
    title: "Purple"
    paths: [
      "/Users/ealbertos/src/purple"
    ]
  }
  {
    title: "Sport Bowl"
    paths: [
      "/Users/ealbertos/src/sport-bowl"
    ]
  }
  {
    title: "Zaso"
    paths: [
      "/Users/ealbertos/src/zaso"
    ]
  }
  {
    title: "Unam Inventory"
    paths: [
      "/Users/ealbertos/src/unam_inventory"
    ]
  }
  {
    title: "Unam Inventory Ios"
    paths: [
      "/Users/ealbertos/src/unam_inventory_ios"
    ]
  }
  {
    title: "Mujeres Con Vila"
    paths: [
      "/Users/ealbertos/src/mujeres-con-vila"
    ]
  }
  {
    title: "Ordinum Mx"
    paths: [
      "/Users/ealbertos/src/ordinum.mx"
    ]
  }
  {
    title: "Casa De La Playa"
    paths: [
      "/Users/ealbertos/src/casa-de-la-playa"
    ]
  }
  {
    title: "County Webcrawler"
    paths: [
      "/Users/ealbertos/src/county_webcrawler"
    ]
  }
  {
    title: "Lurecosmetics Theme"
    paths: [
      "/Users/ealbertos/src/theme_export__lurecosmetics-com-copy-of-testament"
    ]
  }
  {
    title: "Merida Respira web"
    paths: [
      "/Users/ealbertos/src/merida-respira"
    ]
  }
  {
    title: "Luana"
    paths: [
      "/Users/ealbertos/src/luana"
    ]
  }
  {
    title: "Qual Ai"
    paths: [
      "/Users/ealbertos/src/qual.ai"
    ]
  }
  {
    title: "Openvoters"
    paths: [
      "/Users/ealbertos/src/openvoters"
    ]
  }
  {
    title: "Mexican Invoice"
    paths: [
      "/Users/ealbertos/src/mexican_invoice"
    ]
  }
  {
    title: "Abimerhi Premier"
    paths: [
      "/Users/ealbertos/src/abimerhi-premier"
    ]
  }
  {
    title: "Espacios Ejecutivos Rails"
    paths: [
      "/Users/ealbertos/src/espacios-ejecutivos-rails"
    ]
  }
  {
    title: "Applicantlab"
    paths: [
      "/Users/ealbertos/src/applicantlab"
    ]
  }
  {
    title: "Svacademy"
    paths: [
      "/Users/ealbertos/src/svacademy"
    ]
  }
  {
    title: "Manifestly"
    paths: [
      "/Users/ealbertos/src/manifestly"
    ]
  }
  {
    title: "Msb"
    paths: [
      "/Users/ealbertos/src/msb"
    ]
  }
  {
    title: "Legalmonster"
    paths: [
      "/Users/ealbertos/src/legalmonster"
    ]
  }
  {
    title: "Rails Snippets"
    paths: [
      "/Users/ealbertos/src/rails-snippets"
    ]
  }
  {
    title: "Rails Snippets"
    paths: [
      "/Users/ealbertos/github/rails-snippets"
    ]
  }
  {
    title: "Silk Clients"
    paths: [
      "/Users/ealbertos/src/silk-clients"
    ]
  }
  {
    title: "Humanimals School"
    paths: [
      "/Users/ealbertos/src/humanimals_school"
    ]
  }
  {
    title: "Ethichub Landing"
    paths: [
      "/Users/ealbertos/src/ethichub-landing"
    ]
  }
  {
    title: "Perfectspace In Home"
    paths: [
      "/Users/ealbertos/src/perfectspace-in-home"
    ]
  }
]
