andamios:
  title: "andamios"
  paths: [
    "/Users/ealbertos/src/andamios"
  ]
jrenvases_system:
  title: "jrenvases_system"
  paths: [
    "/Users/ealbertos/src/jrenvases_system"
  ]
upp:
  title: "upp"
  paths: [
    "/Users/ealbertos/src/upp"
  ]
residencialaltabrisa:
  title: "residencialaltabrisa"
  paths: [
    "/Applications/MAMP/htdocs/residencialaltabrisa"
  ]
cocos:
  title: "cocos"
  paths: [
    "/Users/ealbertos/src/cocos"
  ]
candidatos:
  title: "candidatos"
  paths: [
    "/Users/ealbertos/src/candidatos"
  ]
adminpanel:
  title: "adminpanel"
  paths: [
    "/Users/ealbertos/src/adminpanel"
  ]
tacoarquitecturacontextual:
  title: "tacoarquitecturacontextual"
  paths: [
    "/Users/ealbertos/src/tacoarquitecturacontextual"
  ]
concreplus:
  title: "concreplus"
  paths: [
    "/Users/ealbertos/src/concreplus"
  ]
adoro:
  title: "adoro"
  paths: [
    "/Users/ealbertos/src/adoro"
  ]
"adminpanel-test":
  title: "adminpanel-test"
  paths: [
    "/Users/ealbertos/src/adminpanel-test"
  ]
kanankab:
  title: "kanankab"
  paths: [
    "/Users/ealbertos/src/kanankab"
  ]
atlantes:
  title: "atlantes"
  paths: [
    "/Users/ealbertos/src/atlantes"
  ]
procon:
  title: "procon"
  paths: [
    "/Users/ealbertos/src/procon"
  ]
robotina:
  title: "robotina"
  paths: [
    "/Users/ealbertos/src/robotina"
  ]
residencialaltabrisav2:
  title: "residencial altabrisa v2"
  paths: [
    "/Applications/MAMP/htdocs/res_altabrisa"
  ]
our_website:
  title: "our_website"
  paths: [
    "/Users/ealbertos/src/our_website"
  ]
multilimpia:
  title: "multilimpia"
  paths: [
    "/Users/ealbertos/src/multilimpia"
  ]
